<nav>
  <a routerLink="/formulario"> Formulário </a>
</nav>

<br>

<nav>
  <a routerLink="/header"> Centro de Links </a>
</nav>

<h1>
  Informações do Projeto (Sobre o Projeto)
</h1>

<p>
  Esta aplicação gerencia alunos usando Angular e rotas. A aplicação esta com várias facilidades de<br>
  navegação como no cabeçalho links de navegação para o formulário e informações do projeto.<br>
  <br>
  Em informações do projeto (a tela que estamos) também conta com link que volta a tela do formulário para melhor navegação.
</p>
