.form-container {
  max-width: 400px;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.lista-alunos {
  margin-top: 16px;
}
.lista-alunos {
  text-align: center;
}

ul {
  list-style-position: inside;
}

